nav {
    display: flex;
    justify-content: flex-start;
    margin: 50px 20px 0 20px;
    padding-bottom: 15px;
    text-decoration: none;
    border-bottom: solid;
}

a {
    text-decoration: none;
    color: white;
    border-bottom: solid;
    border-color: blueviolet;
    margin-left: 40px;
}

h1 {
    color: white;
}

.createWorld {
    text-align: left;
    padding: 2%;
}

.referenceContainer {
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.worldContainer {
    padding: 1% 5% 1% 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.container {
    border-radius: 4px;
    background-color: #1F487E;
    color: white;
    border: solid;
    border-color: rgb(66, 0, 128);
}

#audioReferenceContainer {
    border: solid;
}

#imageReferenceContainer {
    display: flex;
    justify-content: space-around;
}

.tagsContainer {
    display: flex;
}

.tag {
    border: solid;
    border-radius: 8px;
}