nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
}

.worldContainer {
    padding: 1% 5% 1% 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carosuelContainer {
    border-radius: 4px;
}

.descriptionContainer {
    border: solid;
}

#audioReferenceContainer {
    border: solid;
}

#imageReferenceContainer {
    border: solid;
}

.tagsContainer {
    border: solid;
}