.App {
  text-align: center;
}

body {
  background-color: #152749;
  color: rgb(182, 177, 177);
}

.nav-container {
  text-align: left;
}

.button-card {
  border: solid;
  width: 250px;
  height: 250px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0740549);
  border-radius: 8px;
}
