.App {
  text-align: center;
}

body {
  background-color: #050911;
  color: rgb(182, 177, 177);
}

a {
  text-decoration: none;
  color: white;
}

.nav-container {
  text-align: left;
  background-color: rgb(27, 60, 80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 5% 0 5%;
}

.nav-container > .right {
  display: flex;
  align-items: center;
}


.button-card {
  border: solid;
  width: 250px;
  height: 250px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0740549);
  border-radius: 8px;
}


nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 0 20px;
  padding-bottom: 15px;
  text-decoration: none;
  border-bottom: solid;
}

.worldNav > div > a {
  text-decoration: none;
  color: white;
  border-bottom: solid;
  border-color: blueviolet;
  margin-left: 40px;
}

h1 {
  color: white;
}

.createWorld {
  text-align: left;
  padding: 2%;
}









.referenceContainer {
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.worldContainer {
  padding: 1% 5% 1% 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.container {
  border-radius: 4px;
  background-color: rgb(18, 40, 54);
  color: white;
  border: solid;
  border-color: white;
  border-width: 1px;
  padding: 1%;
  display: flex;
  text-align: left;
  justify-content: space-around;
}

.submissionContainer {
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 40px 20% 40px 20%;
  padding: 20px;
  background-color: rgb(18, 40, 54);
}

.iterationContainer {
  text-align: left;
  max-width: fit-content;
  margin: auto;
  padding-bottom: 10px;
}

.discussionContainer {
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 10px 20px 0px 20px;
  background-color: rgb(18, 40, 54);
}

/* #audioReferenceContainer {
  border: solid;
}

#imageReferenceContainer {
  display: flex;
  justify-content: space-around;
} */

.tagsContainer {
  display: flex;
}

.tag {
  border: solid;
  border-radius: 8px;
}


.labeled-audio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}


.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  border: 1px solid #eee;
  min-width: 150px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}
.ReactTags__selected span.ReactTags__tag:first-child {
  margin-left: 0px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
  top:60px;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

#mui-1 {
  color: white;
}

.login-container {
  margin: 5% 25% 0 25%;
  width: 50%;
  background-color: white;
  min-height: 400px;
  height: fit-content;
  border-radius: 4px;
}
